div {
    background: red;
    max-width: 1200px;
    position: relative;
    color: yellow;
}

span {
    color: grey;
    border: 1px solid blue;
}

p {
    color: black;
    border: 1px solid red;
    position: relative;
}